body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: #434455;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

img{
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 40px;
    
}

.logo-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color:#4d5ae5;
    margin-right: 76px;
    
}

.logo-gray{
    color:#2e2f42;
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
}

.nav-menu li:first-child .navigation-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu li:first-child .navigation-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}


.navigation-link:hover,
.navigation-link:focus{
    color:#404bbf;
}

.header-address{
    font-style: normal;
    align-items: center;
}

.address-menu{
    display: flex;
    gap: 40px;
}

.header-address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus{
    color:#404bbf;
}

.first-section{
    background-color: #2E2F42;
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title{
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    
}

.first-section-btn{
    background-color:#4D5AE5;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 16px 32px;
    box-sizing: border-box;
    min-width: 169px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-btn:hover,
.first-section-btn:focus {
    background-color: #404BBF;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}



.features .container ul{
    display: flex;
    gap: 24px;
}

.features .container ul li{
    flex-basis: calc((100% - 72px) / 4);
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.features-section-item-title{
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.features-section-item-text{
    font-size:16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;
}


.team .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team .team-list{
    display: flex;
    gap: 24px;
}

.team-member{
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}


.team-member-text-container{
    padding: 32px 0;
}

.team-member-social-icons{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;

}

.team-member-social-item{
    width: 40px;
    height: 40px;
}

.team-member-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.team-member-social-link:hover,
.team-member-social-link:focus{
    background-color: #404bbf;
}


.team-member-social-svg{
    fill: #f4f4fd;

}

.team-member-name{
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-member-text{
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}


.portfolio .portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 2%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-hidden-paragraph{
    transform: translateY(0%);
}

.portfolio-item-text-container{
    border-bottom: 1px solid#E7E9FC;
    border-left: 1px solid#E7E9FC;
    border-right: 1px solid#E7E9FC;
    padding: 32px 16px
}

.portfolio-image-container{
    position: relative;
    overflow: hidden;
}

.portfolio-hidden-paragraph{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item-title{
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text{
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

footer .container{
    display: flex;
    align-items: baseline;
}

.footer-logo-nd-paragraph{
    margin-right: 120px;

}

.logo-footer{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-white{
    color:#f4f4fd;
}

.footer-text{
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.social-media-footer-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-social-media-list{
    display: flex;
    gap: 16px;
}

.footer-social-media-list-item{
    width: 40px;
    height: 40px;

}

.footer-social-media-list-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-media-list-link:hover,
.footer-social-media-list-link:focus{
    background-color: #31d0aa;
}

.footer-social-media-icon{
    fill: #f4f4fd;
}


.footer-social-icons{
    margin-right: 80px;
}

.footer-subscribe-form{
    display: flex;
    gap: 24px;
}

.footer-subscribe-label{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-subscribe-input{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(46, 47, 66, 0);
    border: 1px solid #ffff;
    padding: 8px 16px;
    box-sizing: border-box;
    color: #ffff;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 12px;
}

.footer-subscribe-input::placeholder{
    color: #ffff;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 12px;
}

.footer-subscribe-button{
    background-color: #4D5AE5;
    color: #ffff;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    padding: 8px 24px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    align-self: flex-end;
}

.footer-subscribe-icon{
    fill:#ffff;
}

.modal-overlay{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    /*opacity: 0;
    pointer-events: none;*/
    transition: opacity 250ms ease-in-out;
}

.modal{
    background-color: #FCFCFC;
    padding: 24px;
    display: flex;
    flex-direction: column;
    max-width: 408px;
    align-items: center;

}

.is-open{
    opacity: 1;
    pointer-events: auto;
}

.modal-cross-icon{
    fill: #2E2F42;
}


.modal-close-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgb(0,0,0,0.1);
    align-self: flex-end;
    margin-bottom: 24px;
}

.modal-paragraph{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-form-label{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;

}

.modal-form-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: none;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 11px 16px;
    box-sizing: border-box;
    display: flex;
    gap: 4px;
}

.modal-checkbox{
    flex-direction: row-reverse;
    gap: 8px;
}
